* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

:root {
    --slider-padding: 2rem;
    --img-max-width: calc(100% - 2 * var(--slider-padding));
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/unity_waterfall.gif);
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 12px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1 {
    font-size: 62px;
}
.text-box p {
    margin: 15px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.4s;
}

/* styling specific element with id */
#menu-icon {
    position: absolute;
    top: 2%;
    right: 5%;
}

nav .fa {
    display: none;
}

@media(max-width: 700px){
    .text-box h1 {
        font-size: 24px;
    }
    .header {
        background-position: 55% 50%;
        background-size: cover;
    }
    .nav-links ul li {
        display: block;
        text-align: center;
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 0;
        top: 0;
        right: -125;
        text-align: left;
        z-index: 2;
        transition: right 0.5s;
        overflow: hidden;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

 /* --- Projects Styling --- */
 /* POSSIBLY CHANGE IMAGES TO RESIZE ADAPTIVELY WITH SECTION */
 .projects {
    width: 100%;
    margin: auto;
    text-align: center;
    background: #1e1e1e;
    position: relative;
}
h1 {
    padding: 5% 5% 0% 5%;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}
p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.slider-container {
    display: flex;
    flex: 0 0 100%;
    padding: 0 0% 10% 0;
    overflow: hidden;
    /* justify-content: center; */
}
.slider {
    --slider-index: 0;
    --items-per-screen: 1;
    display: flex;
    flex: 0 0 90%;
    width: 90%;
    /* padding for extreme ends of slider to be empty */
    text-align: center;
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 250ms ease-in-out;
}
.project {
    flex: 0 0 90%;
    aspect-ratio: 16 / 9;
    padding: .25rem;
    margin: 0 4% 0 5%;
    border-radius: 10px;

    /* flex-basis: 31%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box; */
    background-size: cover;
    background-position: center;
}
#bullets {
    background-image: linear-gradient(rgba(4,9,30,0.8), rgba(4,9,30,0.8)), url(images/MainMenu.png);
}
#treatment {
    background-image: linear-gradient(rgba(4,9,30,0.8), rgba(4,9,30,0.8)), url(images/Home.png);
}
#path {
    background-image: linear-gradient(rgba(4,9,30,0.8), rgba(4,9,30,0.8)), url(images/sample_map.png);
}
#unity {
    background-image: linear-gradient(rgba(4,9,30,0.8), rgba(4,9,30,0.8)), url(images/unity_waterfall.gif);
}

.slider > img {
    flex: 0 0 25%;
    aspect-ratio: 16 / 9;
    max-width: 80%;
    /* max-width: var(--img-max-width); */
    /* prevent huge pic taking entire screen,
       need to add empty element on extreme ends
       to push leftmost and rightmost to center?
    max-height: 400px;*/
    /* padding: 0% var(--slider-padding); */
    margin: 0 2.5%;
    border-radius: 45px / 26px;
    overflow: visible;
}

.handle {
    border: none;
    border-radius: 15px / 20px;
    width: 10%;
    min-width: 50px;
    background-color: rgba(0, 0, 0, .3);
    z-index: 10;
    cursor: pointer;
    text-align: center;
}
.handle:hover {
    transition: 150ms ease-in-out;
    background-color: rgba(0, 0, 0, .5);
}
.handle:hover #leftArrow {
    visibility: visible;
    width: 50%;
    transition: 150ms ease-in-out;
}
.handle:hover #rightArrow {
    visibility: visible;
    width: 50%;
    transition: 150ms ease-in-out;
}
.handle:focus {
    transition: 150ms ease-in-out;
    background-color: rgba(0, 0, 0, .5);
}
.handle:focus #leftArrow {
    visibility: visible;
    width: 50%;
    transition: 150ms ease-in-out;
}
.handle:focus #rightArrow {
    visibility: visible;
    width: 50%;
    transition: width 150ms ease-in-out;
}
.left-handle {
    visibility: hidden;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.slider-container:hover #leftArrow {
    visibility: visible;
}
.slider-container:hover #rightArrow {
    visibility: visible;
}
#leftArrow {
    visibility: hidden;
    display: none;
    margin: auto;
    width: 40%;
}
#rightArrow {
    visibility: hidden;
    margin: auto;
    width: 40%;
}

h3 {
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.progress-bar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2.5% 12.5%;
    color: white;
}
.progress-item {
    flex: 0 0 15%;
    height: 0.6rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, .3);
}
.progress-item.active {
    background-color: rgba(255, 255, 255, .8);
}